@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;600&display=swap');

* {
    resize: none;
    margin: 0;
    padding: 0;
    font-family: MuseoModerno;
    box-sizing: border-box;
}

.flex0 {
    display: flex;
    margin: 30px;
}

.flex0>h2 {
    align-self: center;
}

.flex1 {
    display: flex;
    margin: 20px;
    width: 90vw;
    justify-content: space-between;
    align-items: stretch;
    background-color: beige;

}

.flex1-item {
    margin: 20px;
    width: 20vh;
}

#budgetForm {
    width: 40vh;
}

input {
    margin: 10px 0px;
    width: 20vw;
}

button {
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;

}

#budgetHeader {
    color: green;
}

#expenseHeader {
    color: red;
}

#balanceHeader {
    color: grey;
}

#budgetBtn {
    width: 100px;
    color: green;
    border: 1px solid green;
}

#budgetBtn:hover {
    background-color: green;
    color: white;
}

.flex2 {
    display: flex;
    padding: 10px;
    margin: 20px;
    width: 90vw;
    justify-content: space-between;
    align-items: stretch;
    background-color: beige;
}

.flex2-item {
    width: 30vw;
    flex-grow: 1;
}

#expenseTable {
    display: flex;
    flex-direction: column;
}

#expenseForm {
    width: 25%;
    margin-right: 60px;
}

#expenseTable {
    width: 75%;
    flex-grow: 3;
}

#expenseBtn {
    color: red;
    border: 1px solid red;
}

#expenseBtn:hover {
    background-color: red;
    color: whitesmoke;
}

.flex2-inner-item {
    display: flex;
    background-color: azure;
    font-weight: bold;
    justify-content: space-between;
}



.title {
    width: 50%;
}

.value {
    width: 40%;
}

.flex2-inner-item>button,
a {
    width: 5%;
    margin-right: 2px;
}

.editBtn {
    background-image: url("./images/edit.png");
    background-repeat: no-repeat;
}

.deleteBtn {
    background-image: url("./images/delete.png");
    background-repeat: no-repeat;
}

#errExpense,
#errBudget {
    display: none;
    background-color: rgb(243, 125, 125);
    font-weight: bold;
    color: rgb(165, 0, 0);
    margin: 20px;
    padding: 3px;
}